#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

DEB_INSTALL_EXAMPLES_Coupecoind += debian/examples/*
DEB_INSTALL_MANPAGES_Coupecoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix Coupecoind USE_ASM=1 USE_LEVELDB=1
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f Coupecoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake Coupecoin-qt.pro USE_ASM=1 USE_LEVELDB=1

# Ensure wrapper is set executable
binary-post-install/Coupecoind:
	chmod +x $(cdbs_curdestdir)usr/bin/Coupecoind
binary-post-install/Coupecoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/Coupecoin-qt
